md-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  min-width: 400px;
  width: 50%;
}

md-card-subtitle{
  margin-bottom: 0px;
}

.repo_actions{
  display: flex;
  align-items: center;
}

md-slide-toggle{
  margin-left: 14px;
  margin-top: 12px;
}

md-spinner{
  height: 40px;
  width: 40px;
}
